Definitive Guide to Lead Scoring.

start here. you don't have to code or know code. finde the section you want to work on check it out work on it and submit it.
its easy fun and will grow. If you like what you see take it and use it in your Marketo System.

#LEAD SCORING
Description: Needed
  >Primary Scoring


#DEMOGRAHIC SCORING
Description: Needed
  >Primary Scoring


#BEHAVIORAL SCORING
Description: Needed
  >Primary Scoring


#PRODUCT SCORING
Description: Needed
  >Primary Scoring



